name: BE Dev(Test) Build & Deploy

on:
  push:
    branches:
      # develop 브랜치로 merge되어 push가 트리거 된 경우 실행
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '17'

      - name: Build with Gradle
        run: ./gradlew bootJar

      - name: Build Docker Image
        run: docker build -t ghcr.io/topazkang/be-dev:latest .

      - name: Log in to GitHub Container Registry
        run: echo "${{ secrets.GHCR_TOKEN }}" | docker login ghcr.io -u ${{ secrets.GIT_USER }} --password-stdin

      - name: Push Docker Image to GHCR
        run: docker push ghcr.io/topazkang/be-dev:latest

  deploy_test:
    runs-on: [ self-hosted, Linux, X64, connectrip_test ]
    name: Deploy Test API
    needs: build

    steps:
      - name: set env & deploy
        run: |
          cd /home/ubuntu/deploy/back
          echo "${{ secrets.ENV_FILE_TEST }}" > .env
          sudo docker image prune -a -f
          sudo docker-compose -f docker-compose.back.yaml down
          sudo docker-compose -f docker-compose.back.yaml pull
          sudo docker-compose -f docker-compose.back.yaml up -d

  deploy_dev:
    runs-on: [ self-hosted, Linux, X64, connectrip_be_dev ]
    name: Deploy Dev API
    needs: build

    steps:
      - name: set env & deploy
        run: |
          cd /home/ubuntu/deploy/back
          echo "${{ secrets.ENV_FILE_DEV }}" > .env
          echo "${{ secrets.GHCR_TOKEN }}" | sudo docker login ghcr.io -u ${{ secrets.GIT_USER }} --password-stdin
          sudo docker image prune -a -f
          sudo docker-compose -f docker-compose.back.yaml down
          sudo docker-compose -f docker-compose.back.yaml pull
          sudo docker-compose -f docker-compose.back.yaml up -d